<!DOCTYPE html>
<html>
  <head>
    <title>SonusStratos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta property="og:title" content="SonusStratos" />
    <meta property="og:image" content="https://www.henry-pan.com/assets/images/sonusstratos.png" />
    <meta property="og:description"
      content="SonusStratos is a SoundCloud clone built with React/Redux and Ruby on Rails." />
    <meta property="og:url" content="https://sonusstratos.herokuapp.com/" />

    <script type="text/javascript">
      window.gop = "<%= image_url('album/gop.jpg') %>";
      window.ds3 = "<%= image_url('album/ds3.jpg') %>";
      window.aria = "<%= image_url('album/aria.jpg') %>";
      window.meruru = "<%= image_url('album/meruru.jpg') %>";
      window.fates = "<%= image_url('album/fates.jpg') %>";
      window.kirby = "<%= image_url('album/kirby.jpg') %>";
      window.dreamshot = "<%= image_url('album/dreamshot.jpg') %>";
      window.automata = "<%= image_url('album/automata.jpg') %>";
      window.bw = "<%= image_url('album/bw.jpg') %>";
      window.ygo = "<%= image_url('album/ygo.jpg') %>";
      window.kh3 = "<%= image_url('album/kh3.jpg') %>";
      window.ys7 = "<%= image_url('album/ys7.jpg') %>";
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
