<!DOCTYPE html>
<html>
  <head>
    <title>SonusStratos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="text/javascript">
      window.splashBanner = "<%= image_url('splash-banner.jpg') %>";
      window.atelier1 = "<%= image_url('album/atelier1.jpg') %>";
      window.kh = "<%= image_url('album/kh.png') %>";
      window.dreamshot = "<%= image_url('album/dreamshot.png') %>";
      window.fireemblem = "<%= image_url('album/fireemblem.png') %>";
      window.gop = "<%= image_url('album/gop.png') %>";
      window.nier = "<%= image_url('album/nier.png') %>";
      window.nierAutomata = "<%= image_url('album/nierautomata.jpg') %>";
      window.octopath = "<%= image_url('album/octopath.jpg') %>";
      window.pokemon = "<%= image_url('album/pokemon.png') %>";
      window.smash = "<%= image_url('album/smash.png') %>";
      window.srw = "<%= image_url('album/srw.jpg') %>";
      window.ys = "<%= image_url('album/ys.jpg') %>";
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
